#imgLogo {
    height: 50px;
}

.tableAcao {
    min-width: 7vw;
}

th, td {
    vertical-align: middle;
}

.btnAcao {
    width: 2em;
    height: 2em;
}

.iconAcao {
    font-size: 0.8em;
}

.alert {
    z-index: 1;
    width: 19vw;
    margin-right: 81vw;
}